.navbar {
    display: flex;
    alignItems: center;
    padding: 0 1rem;
    height: 70px;
    background: #fff;
    boxShadow: 0 1px 1px rgba(0, 0, 0, .1);
}

.link {
    color: #555459;
    fontSize: 22px;
    fontWeight: bold;
}

.link:hover {
    textDecoration: none;
}

.link:focus {
    textDecoration: none;
}