.sidebar {
  display: flex;
  flex-direction: column;
  background: #2b2b5e;
  padding-top: 40px;
  margin-bottom: 10px;
  width: 220px;
}

.header {
  margin-bottom: 0;
  font-size: 22px;
  line-height: 1;
  color: #fff;
  padding-left: 15px;
}

.header a {
  text-decoration: none;
  color: white;
}

.activeLink {
  color: #fff;
}

.activeLink:after {
  position: absolute;
  top: 12px;
  bottom: 12px;
  left: 0;
  width: 3px;
  background: rgba(255, 255, 255, .2);
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  content: "";
}

.channelLink {
  display: block;
  width: 100%;
  color: #fff;
  padding-left: 20px;
  text-decoration: none;
}

.channelLinkSelected {
  background-image: linear-gradient(90deg, #3a55df, #4598ff);
}

.channelLink:hover {
  background-image: linear-gradient(90deg, #3a55df, #4598ff);
  color: #fff;
  text-decoration: none;
}

.logoutButton {
  padding: 0;
  background: transparent;
  border: 0;
  cursor: pointer;
}

.channelsTitle {
  color: #eee;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 15px;
}

.username {
  position: relative;
  padding-left: 20px;
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  font-size: 13px;
}
