ul {
  list-style-type: none;
  padding: 10px 0 0 20px;
}

li {
  font-size: 14px;
}

.channelUserList {
  height: 100%;
  border-left: 1px solid rgb(240, 240, 240);
}

.listHeader {
  font-size: 10px;
  font-style: italic;
  margin-left: 10px;
}

.onlineStatus {
  color: forestgreen;
  margin-right: 5px;
}

.offlineStatus {
  color: dimgrey;
  margin-right: 5px;
}
